<!DOCTYPE html>
<html lang="en">
<head>
	<meta charset="utf-8">
	<meta http-equiv="X-UA-Compatible" content="IE=edge">
	<meta name="viewport" content="width=device-width, initial-scale=1">
	<!-- The above 3 meta tags *must* come first in the head; any other head content must come *after* these tags -->
	<meta name="description" content="">
	<meta name="author" content="">
	<meta name="theme-color" content="#2c3e50">
	<!-- <link rel="icon" href="../../favicon.ico"> -->

	<title><%= title %></title>
	
	<script src="./misl/socket-io137.js"></script>
	<!-- Latest compiled and minified CSS -->
	<link rel="stylesheet" href="./misl/B3.3.6bootstrap.min.css">
	<script src="./misl/J1.11.3jquery.min.js"></script>
	<!-- Latest compiled and minified JavaScript -->
	<script src="./misl/js3.3.6bootstrap.min.js"></script>

<style type="text/css">
body{
	background:
radial-gradient(black 15%, transparent 16%) 0 0,
radial-gradient(black 15%, transparent 16%) 8px 8px,
radial-gradient(rgba(255,255,255,.1) 15%, transparent 20%) 0 1px,
radial-gradient(rgba(255,255,255,.1) 15%, transparent 20%) 8px 9px;
background-color:#4D545B;
background-size:16px 16px;
}
.about{
	background-color: #FFF;
	display: inline-block;
	width: 90px;
	text-align: center;
	color: #2c3e50;
	margin-top: 14px;
	margin-right: 10px;
	border-radius: 3px;
	float: right;
	padding: 2px;
	margin-left:100px;
}
.about a:hover,
.about a:active{
	text-decoration: none;
	color:#FF4081;
}
.c-blue-m{
	background-color: #2c3e50;
	color: #FFF;
	border-color: #2c3e50;
	font-weight: 700;
}
.navbar-brand:link,
.navbar-brand:visited{
	color:#FFF;
}
.navbar-brand{
	margin-top: -2px;
	font-size: 150%;
}
nav{
	box-shadow: 0px 1px 1px #000;
	letter-spacing: 1.5px;
}

.testc{
	background-color: yellow;
}
.omsg{
	background-color: #B5FCEE;
	border-radius: 5px;

}
.omsg h5{
	font-weight: 700;
	color: #000;
	margin-top: 3px;
	
}
.omsg p{
	padding: 0px;
	margin-top: -11px;
	margin-left:10px;
	margin-bottom: 0px; 
}
.omsg footer{
	text-align: right;
	margin-top: -7px;
}
.mymsg{
	background-color: #42EAC9;
	color: #000;
	text-align: left;
	padding-top: 0px;
	padding-bottom: 0px;
	border-radius: 5px;
}
.mymsg footer{
	margin-top: -10px;
	text-align: right;
}
.heightAdj{
	margin-top: -15px;
}
.chatrow{
	margin-top: 3px;
	padding-left: 5px;
	padding-right: 5px;

}
footer{
	font-size: 70%;
}
.shape{
	background-color: #C1B0B0;
}
.pink{
	background-color: #2c3e50;
	border-color: #2c3e50;
}
.msgin{
	margin-top: 0px;
	margin-bottom: 5px;
}
input{
	letter-spacing: 1.5px;
}
.scrolWell{
	height: 500px;
	overflow: auto;
	padding-bottom: 20px;
	font-size: 125%;
	letter-spacing: 1.5px;
	
	background:
	radial-gradient(black 15%, transparent 16%) 0 0,
	radial-gradient(black 15%, transparent 16%) 8px 8px,
	radial-gradient(rgba(255,255,255,.1) 15%, transparent 20%) 0 1px,
	radial-gradient(rgba(255,255,255,.1) 15%, transparent 20%) 8px 9px;
	background-color:#4D545B;
	background-size:16px 16px;
}
.nusr{
	padding:0px;
	margin-top:-2px;
	margin-bottom: 0px;
	font-size: 75%;
	color: #fff;
	display: inline-block;
}

</style>
</head>

<body>
<!-- navbar-fixed-top to make navbar fixed top -->
	<nav class="navbar navbar-inverse c-blue-m">
		<div class="container">
			<div class="navbar-header">
				<a class="navbar-brand" href="#"><span class="glyphicon glyphicon-heart" aria-hidden="true"></span> TALKY</a>
			<div class="about pull-right"><a href="/">About</a></div>
			</div>
		</div>
	</nav>

	<div class="container-fluid heightAdj">
		<div class="row chatrow">
			<div class="col-md-3"></div>
			<div class="col-md-6 col-sm-12 col-xs-12 scrolWell" id="scrollB">

				<p><div class="alert alert-success text-center" role="alert">Hi there, You've signed in to Talky.</div></p>
				<p><div class="alert alert-info text-center" role="alert"> Talky is more fun with friends.<br>Ask your friends to connect to the same WiFi as yours and head over <strong id="ip"></strong> to get most out of Talky ! Enjoy ;) </div></p>
				<p><div class="alert alert-info text-center" role="alert"> You can also conveniently use the send button on your keyboard to send messages.<br><br><img class="img-rounded img-responsive" width="70%" src="/images/kbdOK.png" alt="send butt"></div></p>
				<!-- ___________________________________________ -->
				<!-- space for msg	 -->
				<!-- ____________________________________________ -->
			</div>
			<div class="col-md-3"></div>
		</div>
<!-- message input area -->
		<div class="row">
			<div class="col-md-3"></div>
			<div class="col-md-6 col-sm-12 col-xs-12">
				<p class="nusr"><span id="n"></span> users now <span id="typing"></span></p>
				<form name="msgSend" id="sendF" class="form-horizontal msgin" onsubmit="return csubmit()">
			        <div class="input-group col-md-12">
			            <input id="mn" autofocus autocomplete="" type="text" class="form-control input-lg" placeholder="type in..." name="mesg">
			            <div class="input-group-btn">
			                <button class="btn btn-info btn-lg pink"><i class="glyphicon glyphicon-send"></i></button>
			                <!-- <input type="submit" class="btn btn-info btn-lg pink" value="send"> -->
			            </div>
			        </div>
			    </form>
			</div>
			<div class="col-md-3"></div>
		</div>
	</div>
	<script type="text/javascript">
	//console.log(location.host);
	$('#ip').text(location.host);
	</script>
	<script  type="text/javascript">
	//console.log("js working s ");
	var socket = io();
	var data={
	  name:'<%= name %>',
	  id:<%= id %>,
	  chat:'',
	  tim:''
	};
	var t=0;

	var prevID=0; // stores previos id to concatinate msgs.

	function csubmit()
	{
		var x = document.forms["msgSend"]["mesg"].value;
	    if (x == null || x == "")
	    {
	    	return false;
	    }
	    else
	    {
	    	data.tim = new Date;
	    	data.tim=(data.tim.getHours() % 12 || 12)+":"+data.tim.getMinutes();
	    	// now.getHours() % 12 || 12
	    	// dt.getHours() + ":" + dt.getMinutes();
	  		data.chat=$('#mn').val();
			//console.log('seems fine, time:'+data.tim);
			socket.emit('chat message', data );
			$('#mn').val('');
			return false;
		}
	}
	socket.on('chat message', function(msg)
	{
		t=1;	
	  //console.log('msg came');

	  if(msg.id==prevID)
	  {
	  	// msg from the last msg author
	  	$('#latestMsg').append("<br>"+msg.chat);
	  	// change time <---
	  	$('#latestTim').text(msg.tim);
	  }
	  else if(msg.id==data.id)
	  {
	  	//mymsg
	  	//console.log("msg.id:"+msg.id);
	  	//console.log("data.id:"+msg.id);

	  	$('#latestMsg').removeAttr('id');
	  	$('#latestTim').removeAttr('id');

	  	
	  	$('#scrollB').append("<div class=\"row chatrow\"><div class=\"col-md-6 col-sm-5 col-xs-4\"></div><div class=\"col-md-6 col-sm-7 col-xs-8 mymsg\"><p id=\"latestMsg\">"+msg.chat+"</p><footer id=\"latestTim\">"+msg.tim+"</footer></div>");
	  }
	  else
	  {
	  	//omsg
	  	//console.log("msg.id:"+msg.id);
	  	//console.log("data.id:"+msg.id);
	  	
	  	$('#latestMsg').removeAttr('id');
	  	$('#latestTim').removeAttr('id');

	  	$('#scrollB').append("<div class=\"row chatrow\"><div class=\"col-md-9 col-sm-9 col-xs-9 omsg\"><h5>"+msg.name+"</h5><p id=\"latestMsg\">"+msg.chat+"</p><footer>"+msg.tim+"</footer></div></div>");
	  	
	  }
	  // $('#scrollB').append($('<p>').text(msg.chat));
	  scrollDiv();
	  prevID=msg.id;
	});

	socket.on('serverMsg', function(msg) //upd - update
	{
		if(msg)
		{
			console.log(msg);
			$('#scrollB').append("<p class=\"text-center\"><span class=\"label label-danger\">"+msg+"</span></p>");
		}
	});

	socket.on('usrUpdate', function(upd) //upd - update
	{
		// user number here
		// put the name in.
		$("#n").text(upd.n);
		//console.log("user added/removed "+upd.n+" user:"+upd.nam);
		if(upd.joined)
			$('#scrollB').append("<p class=\"text-center\"><span class=\"label label-default\">"+upd.nam+" joined !</span></p>");
		else
			$('#scrollB').append("<p class=\"text-center\"><span class=\"label label-default\">"+upd.leftUsr+" left !</span></p>");

		$('#latestMsg').removeAttr('id');
	  	$('#latestTim').removeAttr('id');
	  	prevID=-1;

		if(t) scrollDiv();
		//<span class="label label-info">Info Label</span>
	});
function scrollDiv(){
	//console.log('scroll div working :');

	var elem = document.getElementById('scrollB');
  elem.scrollTop = elem.scrollHeight;
   // if(document.getElementById('scrollB').scrollTop<(document.getElementById('scrollB').scrollHeight-document.getElementById('scrollB').offsetHeight)){-1
   //       document.getElementById('scrollB').scrollTop=document.getElementById('scrollB').scrollTop+1
   //       }
   // else {document.getElementById('scrollB').scrollTop=0;}
};
function scroll2top(){
	var myDiv = document.getElementById('scrollB');
	myDiv.innerHTML = variableLongText;
	myDiv.scrollTop = 0;
};

$(document).ready(function(){
    $("#mn").keypress(function()
    {
        // $("span").text(i += 1);
        socket.emit('typ', data.name);
        // console.log("typing");
    });
});

socket.on('typing', function(n)
{
		$('#typing').text(" | "+n+" typing");
	// console.log("changing :"+n);
});
socket.on('clrtyp', function()
{
	$('#typing').text("");
});

</script>
</body>
</html>
